html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.dark_mode {
  background-color: #252128; }

.light_mode {
  background-color: #FFFFFF; }

.dark_mode_footer {
  background-color: #141414; }

.light_mode_footer {
  background-color: #F9F9F9; }

.toggle_switch {
  position: relative;
  width: 3.2rem;
  height: 1.2rem; }
  .toggle_switch label {
    position: absolute;
    width: 2.8rem;
    height: 1.2rem;
    background-color: #4731D3;
    border-radius: 10px;
    cursor: pointer; }
  .toggle_switch input {
    position: absolute;
    display: none; }
  .toggle_switch .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s; }
  .toggle_switch input:checked ~ .slider {
    background-color: #3A3A3A; }
  .toggle_switch .slider::before {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 1.6rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #FFE86E;
    box-shadow: none; }
  .toggle_switch input:checked ~ .slider::before {
    transform: translateX(-1.4rem);
    box-shadow: inset 0.4rem -0.08rem 0rem 0rem #FFE86E;
    background-color: #3A3A3A; }

.main_layout {
  font-family: 'Inter', normal; }

.light_mode_footer .footer_main {
  padding-top: 4rem;
  margin: auto;
  width: 1140px;
  display: flex;
  flex-direction: column; }
  .light_mode_footer .footer_main #footerMainHeader {
    width: 40%;
    color: #1F2937;
    font-size: 42px;
    font-weight: 600;
    line-height: 125%; }
  .light_mode_footer .footer_main #footerSecondRow {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .light_mode_footer .footer_main #footerSecondRow #e-mail {
      color: #AF0C48;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.05em; }
    .light_mode_footer .footer_main #footerSecondRow #footerLinks {
      display: flex;
      gap: 20px;
      flex-wrap: wrap; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks #personalBlog {
        color: #0A0A14;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks #gitHub {
        color: #afa8a8;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks #linkedin {
        color: #0077B5;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks #hackerrank {
        color: #00AB6B;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
@media (max-width: 1440px) {
  .light_mode_footer .footer_main {
    width: 80%; } }
@media (max-width: 1000px) {
  .light_mode_footer .footer_main {
    width: 80%;
    align-items: center; }
    .light_mode_footer .footer_main #footerMainHeader {
      width: 80%;
      text-align: center; }
    .light_mode_footer .footer_main #footerSecondRow {
      flex-direction: column; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks {
        padding-top: 4rem; }
      .light_mode_footer .footer_main #footerSecondRow #footerLinks {
        padding-top: 4rem;
        flex-direction: column; } }
@media (max-width: 370px) {
  .light_mode_footer .footer_main #footerSecondRow {
    flex-direction: column; }
    .light_mode_footer .footer_main #footerSecondRow #e-mail {
      font-size: 16px; }
    .light_mode_footer .footer_main #footerSecondRow #footerLinks {
      padding-top: 4rem;
      flex-direction: column; } }

.dark_mode_footer .footer_main {
  padding-top: 4rem;
  margin: auto;
  width: 1140px;
  display: flex;
  flex-direction: column; }
  .dark_mode_footer .footer_main #footerMainHeader {
    width: 40%;
    color: #AEBCCF;
    font-size: 42px;
    font-weight: 600;
    line-height: 125%; }
  .dark_mode_footer .footer_main #footerSecondRow {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .dark_mode_footer .footer_main #footerSecondRow #e-mail {
      color: #0BA6F6;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.05em; }
    .dark_mode_footer .footer_main #footerSecondRow #footerLinks {
      display: flex;
      gap: 20px;
      flex-wrap: wrap; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks #personalBlog {
        color: #E1E1FF;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks #gitHub {
        color: #e38daa;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks #linkedin {
        color: #0BA6F6;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks #hackerrank {
        color: #17D18B;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.01em;
        background-color: transparent;
        border: none;
        cursor: pointer; }
@media (max-width: 1440px) {
  .dark_mode_footer .footer_main {
    width: 80%; } }
@media (max-width: 1000px) {
  .dark_mode_footer .footer_main {
    width: 80%;
    align-items: center; }
    .dark_mode_footer .footer_main #footerMainHeader {
      width: 80%;
      text-align: center; }
    .dark_mode_footer .footer_main #footerSecondRow {
      flex-direction: column; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks {
        padding-top: 4rem; }
      .dark_mode_footer .footer_main #footerSecondRow #footerLinks {
        padding-top: 4rem;
        flex-direction: column; } }
@media (max-width: 370px) {
  .dark_mode_footer .footer_main #footerSecondRow {
    flex-direction: column; }
    .dark_mode_footer .footer_main #footerSecondRow #e-mail {
      font-size: 16px; }
    .dark_mode_footer .footer_main #footerSecondRow #footerLinks {
      padding-top: 4rem;
      flex-direction: column; } }

.light_mode .header_main {
  border: none;
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem; }
  .light_mode .header_main #header_first_row {
    display: flex;
    justify-content: flex-end;
    gap: 14px; }
    .light_mode .header_main #header_first_row #sliderText {
      color: #777777;
      font-weight: 700;
      font-size: 15px;
      line-height: 17.5px;
      letter-spacing: 0.1em; }
    .light_mode .header_main #header_first_row #languageText {
      color: #777777;
      font-weight: 700;
      font-size: 15px;
      line-height: 17.5px;
      letter-spacing: 0.1em;
      cursor: pointer; }
    .light_mode .header_main #header_first_row #verticalLine {
      color: #777777;
      font-weight: 700;
      font-size: 12px;
      line-height: 17.5px;
      cursor: pointer; }
    .light_mode .header_main #header_first_row span {
      color: #4731D3; }
  .light_mode .header_main #header_second_row {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; }
    .light_mode .header_main #header_second_row #header_logo {
      color: #7B61FF;
      font-size: 24px;
      font-weight: 600;
      line-height: lineHeightMPlus;
      background-color: #EEEBFF;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      transform: rotate(30deg); }
    .light_mode .header_main #header_second_row #header_selections {
      display: flex;
      gap: 14px; }
      .light_mode .header_main #header_second_row #header_selections button {
        background-color: transparent;
        border: none;
        color: #6B7280;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        padding: 12px 32px 12px 32px;
        cursor: pointer; }
      .light_mode .header_main #header_second_row #header_selections button:hover {
        background-color: white;
        border: 0.1rem solid #3730A3;
        border-radius: 0.6rem;
        padding: 10px 31px 10px 31px;
        color: #3730A3; }
@media (max-width: 1440px) {
  .light_mode .header_main {
    width: 80%; } }
@media (max-width: 820px) {
  .light_mode .header_main {
    width: 80%; }
    .light_mode .header_main #header_first_row {
      justify-content: center; }
    .light_mode .header_main #header_second_row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
      .light_mode .header_main #header_second_row #header_logo {
        margin-top: 1rem; }
      .light_mode .header_main #header_second_row #header_selections {
        justify-content: center; } }
@media (max-width: 500px) {
  .light_mode .header_main #header_first_row {
    flex-wrap: wrap;
    gap: 6px; }
    .light_mode .header_main #header_first_row #sliderText {
      font-size: 12px;
      line-height: 16px; }
    .light_mode .header_main #header_first_row #languageText {
      font-size: 12px;
      line-height: 16px; }
  .light_mode .header_main #header_second_row {
    gap: 6px; }
    .light_mode .header_main #header_second_row #header_selections {
      gap: 1px;
      flex-direction: column;
      align-items: center; } }
@media (max-width: 360px) {
  .light_mode .header_main #header_first_row {
    flex-wrap: nowrap;
    gap: 2px;
    flex-direction: column;
    align-items: center; }
    .light_mode .header_main #header_first_row #sliderText {
      margin-top: 0.5rem; } }

.dark_mode .header_main {
  border: none;
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem; }
  .dark_mode .header_main #header_first_row {
    display: flex;
    justify-content: flex-end;
    gap: 14px; }
    .dark_mode .header_main #header_first_row #sliderText {
      color: #D9D9D9;
      font-weight: 700;
      font-size: 15px;
      line-height: 17.5px;
      letter-spacing: 0.1em; }
    .dark_mode .header_main #header_first_row #languageText {
      color: #777777;
      font-weight: 700;
      font-size: 15px;
      line-height: 17.5px;
      letter-spacing: 0.1em;
      cursor: pointer; }
    .dark_mode .header_main #header_first_row #verticalLine {
      color: #777777;
      font-weight: 700;
      font-size: 12px;
      line-height: 17.5px;
      cursor: pointer; }
    .dark_mode .header_main #header_first_row span {
      color: #BAB2E7; }
  .dark_mode .header_main #header_second_row {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; }
    .dark_mode .header_main #header_second_row #header_logo {
      color: #8F88FF;
      font-size: 24px;
      font-weight: 600;
      line-height: lineHeightMPlus;
      background-color: #4731D3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      transform: rotate(30deg); }
    .dark_mode .header_main #header_second_row #header_selections {
      display: flex;
      gap: 14px; }
      .dark_mode .header_main #header_second_row #header_selections button {
        background-color: transparent;
        border: none;
        color: #6B7280;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        padding: 12px 32px 12px 32px;
        cursor: pointer; }
      .dark_mode .header_main #header_second_row #header_selections button:hover {
        background-color: white;
        border: 0.1rem solid #3730A3;
        border-radius: 0.6rem;
        padding: 10px 31px 10px 31px;
        color: #3730A3; }
@media (max-width: 1440px) {
  .dark_mode .header_main {
    width: 80%; } }
@media (max-width: 820px) {
  .dark_mode .header_main {
    width: 80%; }
    .dark_mode .header_main #header_first_row {
      justify-content: center; }
    .dark_mode .header_main #header_second_row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
      .dark_mode .header_main #header_second_row #header_logo {
        margin-top: 1rem; }
      .dark_mode .header_main #header_second_row #header_selections {
        justify-content: center; } }
@media (max-width: 500px) {
  .dark_mode .header_main #header_first_row {
    flex-wrap: wrap;
    gap: 6px; }
    .dark_mode .header_main #header_first_row #sliderText {
      font-size: 12px;
      line-height: 16px; }
    .dark_mode .header_main #header_first_row #languageText {
      font-size: 12px;
      line-height: 16px; }
  .dark_mode .header_main #header_second_row {
    gap: 6px; }
    .dark_mode .header_main #header_second_row #header_selections {
      gap: 1px;
      flex-direction: column;
      align-items: center; } }
@media (max-width: 360px) {
  .dark_mode .header_main #header_first_row {
    flex-wrap: nowrap;
    gap: 2px;
    flex-direction: column;
    align-items: center; }
    .dark_mode .header_main #header_first_row #sliderText {
      margin-top: 0.5rem; } }

.light_mode .body_main {
  border: none;
  width: 1140px;
  margin: auto;
  padding-top: 4rem; }
  .light_mode .body_main #border {
    border: 1px solid #BAB2E7; }
  .light_mode .body_main #personalIntroduction {
    display: flex; }
    .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn {
      width: 65%;
      padding-right: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine #lineNextoName {
          width: 108px;
          border: 1px solid #3730A3;
          margin-inline-start: 0;
          margin-inline-end: 1rem; }
        .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine #name {
          color: #4338CA;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
        color: #1F2937;
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        padding-top: 2rem; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #shortIntroduction {
        padding-top: 2rem;
        color: #6B7280;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px; }
        .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #buttonGroup {
          width: 100%;
          display: flex;
          justify-content: space-around;
          gap: 10px; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #introductionButton {
        width: 250px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 6px;
        background-color: transparent;
        border: 0.1rem solid #3730A3;
        color: #3730A3;
        font-size: 18px;
        line-height: 28px;
        text-decoration: none;
        cursor: pointer; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #introductionButton:hover {
        background-color: #3730A3;
        color: #FFFFFF; }
    .light_mode .body_main #personalIntroduction #personalIntroductionRightColoumn {
      width: 35%;
      height: 25rem;
      padding: 0 0 2rem 0;
      display: flex;
      background-repeat: no-repeat;
      background-size: contain; }
    .light_mode .body_main #personalIntroduction img {
      overflow: hidden;
      object-fit: cover;
      border-radius: 5%;
      opacity: 0.9;
      box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14); }
.light_mode #skills {
  display: flex;
  flex-direction: column;
  padding-top: 4rem; }
  .light_mode #skills #skillMainHeaders {
    font-size: 48px;
    color: #1F2937; }
  .light_mode #skills #skillBoxSet {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .light_mode #skills #skillBoxSet #skillBox {
      display: flex;
      flex-direction: column;
      width: 20rem; }
      .light_mode #skills #skillBoxSet #skillBox #skillSubHeader {
        text-align: center;
        font-size: 30px;
        color: #4338CA;
        line-height: 28px;
        font-weight: 500; }
      .light_mode #skills #skillBoxSet #skillBox #skillDefinition {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        font-size: 12px;
        color: #6B7280; }
.light_mode #profile {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column; }
  .light_mode #profile #profileMainHeaders {
    font-size: 48px;
    color: #1F2937; }
  .light_mode #profile #profileSet {
    padding-top: 2rem;
    display: flex; }
    .light_mode #profile #profileSet #profileBoxSet {
      width: 40%;
      display: flex;
      flex-direction: column; }
      .light_mode #profile #profileSet #profileBoxSet #profileSubHeader {
        font-size: 30px;
        color: #4338CA;
        line-height: 28px;
        font-weight: 500; }
      .light_mode #profile #profileSet #profileBoxSet #profileBox {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap; }
        .light_mode #profile #profileSet #profileBoxSet #profileBox #key {
          width: 40%;
          color: #000000;
          font-size: 18px;
          line-height: 36px;
          font-weight: 600;
          letter-spacing: 0.01em; }
        .light_mode #profile #profileSet #profileBoxSet #profileBox #value {
          width: 60%;
          color: #000000;
          font-size: 18px;
          line-height: 36px;
          font-weight: 400; }
    .light_mode #profile #profileSet #aboutMeSet {
      width: 55%;
      display: flex;
      flex-direction: column; }
      .light_mode #profile #profileSet #aboutMeSet #aboutMeSubHeader {
        font-size: 30px;
        color: #4338CA;
        line-height: 28px;
        font-weight: 500; }
      .light_mode #profile #profileSet #aboutMeSet #aboutMeDefinition {
        padding-top: 2rem;
        color: #6B7280;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400; }
.light_mode #projects {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .light_mode #projects #projectMainHeaders {
    font-size: 48px;
    color: #1F2937; }
  .light_mode #projects #projectSet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .light_mode #projects #projectSet #projectBoxSet {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      width: 300px; }
      .light_mode #projects #projectSet #projectBoxSet #projectImg {
        overflow: hidden;
        height: 200px;
        object-fit: cover; }
      .light_mode #projects #projectSet #projectBoxSet #projectSubHeader {
        padding-top: 1rem;
        font-size: 30px;
        color: #4338CA;
        line-height: 28px;
        font-weight: 500; }
      .light_mode #projects #projectSet #projectBoxSet #projectDefinition {
        padding-top: 1rem;
        color: #6B7280;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
        flex-grow: 2; }
      .light_mode #projects #projectSet #projectBoxSet #skillsUsed {
        padding-top: 1rem;
        display: flex;
        gap: 8px; }
        .light_mode #projects #projectSet #projectBoxSet #skillsUsed #uniqueSkill {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #3730A3;
          font-size: 14px;
          line-height: 100%;
          background-color: transparent;
          border: 1px solid #3730A3;
          border-radius: 4px;
          width: 85px;
          height: 27px; }
      .light_mode #projects #projectSet #projectBoxSet #links {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between; }
        .light_mode #projects #projectSet #projectBoxSet #links #projectsLink {
          color: #3730A3;
          font-size: textSPlus;
          line-height: 16px;
          font-weight: 500; }
@media (max-width: 1440px) {
  .light_mode .body_main {
    width: 80%; } }
@media (max-width: 1200px) {
  .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #introductionButton {
    padding: 0 0;
    width: 200px;
    height: 45px; } }
@media (max-width: 820px) {
  .light_mode .body_main {
    width: 80%;
    padding-top: 2rem; }
    .light_mode .body_main #personalIntroduction {
      flex-direction: column-reverse;
      align-items: center; }
      .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn {
        width: 100%;
        padding-right: 0;
        align-items: center; }
        .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
          text-align: center; }
      .light_mode .body_main #personalIntroduction #personalIntroductionRightColoumn {
        width: 75%;
        height: 25rem;
        padding: 0 0 2rem 0;
        display: flex;
        justify-content: flex-end; }
    .light_mode .body_main #skills #skillBoxSet {
      flex-direction: column;
      align-items: center; }
      .light_mode .body_main #skills #skillBoxSet #skillBox {
        width: 60%; }
    .light_mode .body_main #profile #profileSet {
      flex-direction: column; }
      .light_mode .body_main #profile #profileSet #profileBoxSet {
        width: 100%;
        align-items: center; }
      .light_mode .body_main #profile #profileSet #aboutMeSet {
        align-items: center;
        width: 100%; } }
@media (max-width: 745px) {
  .light_mode .body_main #projects #projectSet {
    justify-content: center; }
    .light_mode .body_main #projects #projectSet #projectBoxSet {
      width: 400px;
      align-items: center; }
      .light_mode .body_main #projects #projectSet #projectBoxSet #projectsLink {
        padding: 2rem; } }
@media (max-width: 430px) {
  .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
    font-size: 60px; }
  .light_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #buttonGroup {
    flex-direction: column; } }

.dark_mode .body_main {
  border: none;
  width: 1140px;
  margin: auto;
  padding-top: 4rem; }
  .dark_mode .body_main #border {
    border: 1px solid #BAB2E7; }
  .dark_mode .body_main #personalIntroduction {
    display: flex; }
    .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn {
      width: 65%;
      padding-right: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine #lineNextoName {
          width: 108px;
          border: 1px solid #BAB2E7;
          margin-inline-start: 0;
          margin-inline-end: 1rem; }
        .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #nameAndLine #name {
          color: #B7AAFF;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
        color: #AEBCCF;
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        padding-top: 2rem; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #shortIntroduction {
        padding-top: 2rem;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px; }
        .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #buttonGroup {
          width: 100%;
          display: flex;
          justify-content: space-around;
          gap: 10px; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #introductionButton {
        width: 250px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 6px;
        background-color: #383838;
        border: 0.1rem solid #E1E1FF;
        color: #E1E1FF;
        font-size: 18px;
        line-height: 28px;
        text-decoration: none;
        cursor: pointer; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #introductionButton:hover {
        background-color: #E1E1FF;
        color: #000000; }
    .dark_mode .body_main #personalIntroduction #personalIntroductionRightColoumn {
      width: 35%;
      height: 25rem;
      padding: 0 0 2rem 0;
      display: flex;
      background-repeat: no-repeat;
      background-size: contain; }
    .dark_mode .body_main #personalIntroduction img {
      overflow: hidden;
      object-fit: cover;
      border-radius: 5%;
      opacity: 0.9;
      box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14); }
.dark_mode #skills {
  display: flex;
  flex-direction: column;
  padding-top: 4rem; }
  .dark_mode #skills #skillMainHeaders {
    font-size: 48px;
    color: #AEBCCF; }
  .dark_mode #skills #skillBoxSet {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .dark_mode #skills #skillBoxSet #skillBox {
      display: flex;
      flex-direction: column;
      width: 20rem; }
      .dark_mode #skills #skillBoxSet #skillBox #skillSubHeader {
        text-align: center;
        font-size: 30px;
        color: #B7AAFF;
        line-height: 28px;
        font-weight: 500; }
      .dark_mode #skills #skillBoxSet #skillBox #skillDefinition {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF; }
.dark_mode #profile {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column; }
  .dark_mode #profile #profileMainHeaders {
    font-size: 48px;
    color: #AEBCCF; }
  .dark_mode #profile #profileSet {
    padding-top: 2rem;
    display: flex; }
    .dark_mode #profile #profileSet #profileBoxSet {
      width: 40%;
      display: flex;
      flex-direction: column; }
      .dark_mode #profile #profileSet #profileBoxSet #profileSubHeader {
        font-size: 30px;
        color: #B7AAFF;
        line-height: 28px;
        font-weight: 500; }
      .dark_mode #profile #profileSet #profileBoxSet #profileBox {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap; }
        .dark_mode #profile #profileSet #profileBoxSet #profileBox #key {
          width: 40%;
          color: #FFFFFF;
          font-size: 18px;
          line-height: 36px;
          font-weight: 600;
          letter-spacing: 0.01em; }
        .dark_mode #profile #profileSet #profileBoxSet #profileBox #value {
          width: 60%;
          color: #FFFFFF;
          font-size: 18px;
          line-height: 36px;
          font-weight: 400; }
    .dark_mode #profile #profileSet #aboutMeSet {
      width: 55%;
      display: flex;
      flex-direction: column; }
      .dark_mode #profile #profileSet #aboutMeSet #aboutMeSubHeader {
        font-size: 30px;
        color: #B7AAFF;
        line-height: 28px;
        font-weight: 500; }
      .dark_mode #profile #profileSet #aboutMeSet #aboutMeDefinition {
        padding-top: 2rem;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400; }
.dark_mode #projects {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .dark_mode #projects #projectMainHeaders {
    font-size: 48px;
    color: #AEBCCF; }
  .dark_mode #projects #projectSet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .dark_mode #projects #projectSet #projectBoxSet {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      width: 300px; }
      .dark_mode #projects #projectSet #projectBoxSet #projectImg {
        overflow: hidden;
        height: 200px;
        object-fit: cover; }
      .dark_mode #projects #projectSet #projectBoxSet #projectSubHeader {
        padding-top: 1rem;
        font-size: 30px;
        color: #B7AAFF;
        line-height: 28px;
        font-weight: 500; }
      .dark_mode #projects #projectSet #projectBoxSet #projectDefinition {
        padding-top: 1rem;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
        flex-grow: 2; }
      .dark_mode #projects #projectSet #projectBoxSet #skillsUsed {
        padding-top: 1rem;
        display: flex;
        gap: 8px; }
        .dark_mode #projects #projectSet #projectBoxSet #skillsUsed #uniqueSkill {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #8F88FF;
          font-size: 14px;
          line-height: 100%;
          background-color: #383838;
          border: 1px solid #8F88FF;
          border-radius: 4px;
          width: 85px;
          height: 27px; }
      .dark_mode #projects #projectSet #projectBoxSet #links {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between; }
        .dark_mode #projects #projectSet #projectBoxSet #links #projectsLink {
          color: #8F88FF;
          font-size: textSPlus;
          line-height: 16px;
          font-weight: 500; }
@media (max-width: 1440px) {
  .dark_mode .body_main {
    width: 80%; } }
@media (max-width: 1200px) {
  .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #introductionButton {
    padding: 0 0;
    width: 200px;
    height: 45px; } }
@media (max-width: 820px) {
  .dark_mode .body_main {
    width: 80%;
    padding-top: 2rem; }
    .dark_mode .body_main #personalIntroduction {
      flex-direction: column-reverse;
      align-items: center; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn {
        width: 100%;
        padding-right: 0;
        align-items: center; }
        .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
          text-align: center; }
      .dark_mode .body_main #personalIntroduction #personalIntroductionRightColoumn {
        width: 75%;
        height: 25rem;
        padding: 0 0 2rem 0;
        display: flex;
        justify-content: flex-end; }
    .dark_mode .body_main #skills #skillBoxSet {
      flex-direction: column;
      align-items: center; }
      .dark_mode .body_main #skills #skillBoxSet #skillBox {
        width: 60%; }
    .dark_mode .body_main #profile #profileSet {
      flex-direction: column; }
      .dark_mode .body_main #profile #profileSet #profileBoxSet {
        width: 100%;
        align-items: center; }
      .dark_mode .body_main #profile #profileSet #aboutMeSet {
        align-items: center;
        width: 100%; } }
@media (max-width: 745px) {
  .dark_mode .body_main #projects #projectSet {
    justify-content: center; }
    .dark_mode .body_main #projects #projectSet #projectBoxSet {
      width: 400px;
      align-items: center; }
      .dark_mode .body_main #projects #projectSet #projectBoxSet #projectsLink {
        padding: 2rem; } }
@media (max-width: 430px) {
  .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn #mainHeader {
    font-size: 60px; }
  .dark_mode .body_main #personalIntroduction #personalIntroductionLeftColoumn nav #buttonGroup {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
